@model WebAnime.Models.ViewModel.Client.UserChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<h2>Đổi mật khẩu</h2>
<p>Xin chào @Model.FullName, vui lòng điền đủ thông tin để đổi mật khẩu nhé</p>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Email)
    @Html.HiddenFor(x => x.FullName)
    @Html.HiddenFor(x => x.UserName)
    @Html.ValidationSummary(false)

    @Html.LabelFor(x => x.OldPassword, new { @class = "col-form-label col-2" })
    <div class="row">
        <div class="col-3">
            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
        </div>
    </div>

    @Html.LabelFor(x => x.NewPassword, new { @class = "col-form-label col-2" })
    <div class="row">
        <div class="col-3">
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        </div>
    </div>

    @Html.LabelFor(x => x.ReTypePassword, new { @class = "col-form-label col-2" })
    <div class="row">
        <div class="col-3">
            @Html.PasswordFor(x => x.ReTypePassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <button class="site-btn" id="btnCreate">Cập nhật</button>
        </div>
    </div>
}
@section footerCss{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="~/Resources/Library/Common/jQuery-MultiSelect/jquery.multiselect.css" rel="stylesheet" />

    <style>
        .form-control {
            background-color: #0b0c2a !important; /* Màu nền tùy chỉnh - bạn có thể thay đổi giá trị này */
            color: #eee !important; /* Màu chữ tùy chỉnh - bạn có thể thay đổi giá trị này */
        }

        /* Thay đổi màu nền của nút */
        button.site-btn {
            background-color: #007bff; /* Màu nền tùy chỉnh cho nút - bạn có thể thay đổi giá trị này */
            color: #ffffff; /* Màu chữ tùy chỉnh cho nút - bạn có thể thay đổi giá trị này */
        }

        [id$="-error"] {
            color: red !important;
        }
    </style>

}
@section footerJs{
    @Html.Partial("_ValidationScripts")
}