@model WebAnime.Models.ViewModel.Client.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}

<div class="row mt-2">
    <div class="col">
        <h3 id="title">@ViewBag.Title</h3>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" class="btn btn-dark my-2" value="Xác nhận" />
                </div>
            </div>
        }
    </div>
</div>
@section footerJs
{
    @Html.Partial("_ValidationScripts")
    <script>
        $(`.page-up`).hide();
    </script>
}
