@model WebAnime.Models.ViewModel.Client.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="login__form">
                    <h3>Đăng nhập</h3>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "validation--summary" })
                        <div class="input__item">
                            @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Tên đăng nhập" })
                            <span class="icon_profile"></span>
                        </div>
                        <div class="validate--box">
                            @Html.ValidationMessageFor(x => x.UserName, "")

                        </div>
                        <div class="input__item">
                            @Html.PasswordFor(x => x.Password, new { @placeholder = "Mật khẩu" })
                            <span class="icon_lock"></span>
                        </div>
                        <div class="validate--box">
                            @Html.ValidationMessageFor(x => x.Password, "")

                        </div>
                        <button type="submit" class="site-btn">Đăng nhập</button>
                    }
                    <a href="#" class="forget_pass">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Bạn chưa có tài khoản?</h3>
                    <a href="@Url.Action("Register", "Account")" class="primary-btn">Đăng ký</a>
                </div>
            </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>hoặc</span>
                        @using (Html.BeginForm("ExternalLogin", "Account"))
                        {
                            <ul>
                                <li>
                                    <button name="provider" value="Google" class="site-btn">
                                        <i class="fa fa-google"></i>
                                        Đăng nhập với Google
                                    </button>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section footerCss
{
    <style>
        .validate--box {
            -ms-transform: translate(10px, -10px);
            -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
        }
            .validate--box span {
                color: red;
            }

        .validation--simarry {
            -ms-transform: translate(10px, -10px);
            -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
        }

            .validation--simarry ul {
                list-style-type: none;
            }

        .validation--summary li {
            color: red;
            list-style-type: none;
        }
    </style>
}