@model WebAnime.Models.ViewModel.Client.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ResetCode)
    @Html.HiddenFor(x => x.UserId)
    <h4 class="mt-2">Đổi mật khẩu mới</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row mb-2">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-2">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row mb-2">
        <div class="offset-md-2 col-md-4">
            <input type="submit" class="btn btn-dark my-2" value="Reset" />
        </div>
    </div>
}
@section footerJs{
    @Html.Partial("_ValidationScripts")
}