@model IEnumerable<WebAnime.Models.ViewModel.Client.AnimeItemViewModel>
<div class="recent__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                <h4>Phim mới nhất</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="@Url.Action("AnimeRecenly", "Anime")" class="primary-btn">Xem tất cả<span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@item.Poster">
                            @{
                                var currentEpisode = item.CurrentEpisode ?? 0;
                            }
                            <div class="ep">
                                @currentEpisode/ @item.TotalEpisode</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.CommentCount</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.ViewCount</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                <li>@item.Status</li>
                                <li>@item.Type</li>
                            </ul>
                            <h5><a href="@Url.Action("Detail","Anime",new{id=item.Id})">@item.Title</a></h5>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Chưa có anime gì</h2>
        }
    </div>
</div>