@using WebAnime.Models.Entities
@model WebAnime.Models.ViewModel.Client.AnimeSearchViewModel
@{
    ViewBag.Title = "Tìm kiếm";
    var ageRatingsList = new List<AgeRatings>() { new AgeRatings { Id = 0, Name = "Tất cả" } };

    ageRatingsList.AddRange(ViewBag.AgeRating as IEnumerable<AgeRatings> ?? Array.Empty<AgeRatings>());

    var categoriesList = new List<Categories>();
    categoriesList.AddRange(ViewBag.Category as IEnumerable<Categories> ?? Array.Empty<Categories>());

    var countryList = new List<Countries>() { new Countries() { Id = 0, Name = "Tất cả" } };
    countryList.AddRange(ViewBag.Country as IEnumerable<Countries> ?? Array.Empty<Countries>());

    var statusList = new List<Statuses>() { new Statuses() { Id = 0, Name = "Tất cả" } };

    statusList.AddRange(ViewBag.Status as IEnumerable<Statuses> ?? Array.Empty<Statuses>());

    var typeList = new List<Types>() { new Types() { Id = 0, Name = "Tất cả" } };
    typeList.AddRange(ViewBag.Type as IEnumerable<Types> ?? Array.Empty<Types>());

    var ratingHigherList = new List<int>() { 1, 2, 3, 4 };

    var viewCountHigherList = new List<int>() { 1, 5, 10, 20, 50, 100 };

}

<h2>Tìm kiếm</h2>

<div class="row mb-2 justify-content-lg-center">
    @Html.LabelFor(x => x.SearchTitle, new { @class = "col-form-label col-lg-2" })
    <div class="col-lg-6">
        @Html.TextBoxFor(x => x.SearchTitle, new { @class = "form-control" })
    </div>

    @*@Html.LabelFor(x => x.CategoryIds, new { @class = "col-form-label col-lg-2" })
        <div class="col-lg-3">
            @Html.ListBoxFor(x => x.CategoryIds, new MultiSelectList(categoriesList, "Id", "Name"), new { @class = "form-control" })
        </div>*@
</div>

<div class="row mb-2">
    <div class="col-lg-3">
        @Html.LabelFor(x => x.TypeId)
        @Html.DropDownListFor(x => x.TypeId, new SelectList(typeList, "Id", "Name"), new { @class = "form-control" })
    </div>

    <div class="col-lg-6">
        @Html.LabelFor(x => x.CategoryIds)
        @Html.ListBoxFor(x => x.CategoryIds, new MultiSelectList(categoriesList, "Id", "Name"))
    </div>


    <div class="col-lg-3">
        @Html.LabelFor(x => x.StatusId)
        @Html.DropDownListFor(x => x.StatusId, new SelectList(statusList, "Id", "Name"), new { @class = "form-control" })
    </div>

    <div class="col-lg-3">
        @Html.LabelFor(x => x.CountryId)
        @Html.DropDownListFor(x => x.CountryId, new SelectList(countryList, "Id", "Name"), new { @class = "form-control" })
    </div>

    <div class="col-lg-3">
        @Html.LabelFor(x => x.AgeRatingId)
        @Html.DropDownListFor(x => x.AgeRatingId, new SelectList(ageRatingsList, "Id", "Name"), new { @class = "form-control" })
    </div>

    <div class="col-lg-3">
        @Html.LabelFor(x => x.RatingHigher)
        @Html.DropDownListFor(x => x.RatingHigher, new SelectList(ratingHigherList), new { @class = "form-control" })
    </div>

    <div class="col-lg-3">
        @Html.LabelFor(x => x.ViewCountHigher)
        @Html.DropDownListFor(x => x.ViewCountHigher, new SelectList(viewCountHigherList), new { @class = "form-control" })
    </div>

    <div class="col-lg-3 my-2">
        <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
    </div>
</div>


<div class="row mb-2 my-3 justify-content-center">
    <div class="col-8">
        <div class="row mb-2 searchAnime">
            <h3>Dữ liệu tìm thấy sẽ ở đây</h3>
        </div>
    </div>
</div>




@section footerCss
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="~/Resources/Common/jQuery-MultiSelect/jquery.multiselect.css" rel="stylesheet" />
    <style>
        .current, .option {
            color: black !important;
        }

        .ms-options-wrap button {
            border-color: rgb(222, 226, 230);
        }

            .ms-options-wrap button span {
                font-size: 16px;
            }

        .ms-options-wrap > button:after {
            right: 15px;
        }

        .ms-options-wrap > .ms-options > ul label, .ms-options-wrap button span {
            color: black;
        }
    </style>

}
@section footerJs
{
    <script src="~/Resources/Common/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Resources/Client/js/jquery.nice-select.min.js"></script>
    <script>
        $('select#CategoryIds[multiple]').multiselect({
            columns: 4,
            texts: {
                placeholder: 'Chọn thể loại',
                attributes: {
                    custom1: 'value1',
                    custom2: 'value2'
                }
            }
        });

        function dumpHtml(data) {
            const searchAnime = $(`.searchAnime`);
            searchAnime.html('');
            for (let i = 0; i < data.length; ++i) {

                const item = data[i];
                const html = `
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">

                        <div class="product__item__pic set-bg" data-setbg="${item.Poster}">
                            <div class="ep">${item.CurrentEpisode} / ${item.TotalEpisode}</div>
                            <div class="comment"><i class="fa fa-comments"></i> ${item.CommentCount}</div>
                            <div class="view"><i class="fa fa-eye"></i> ${item.ViewCount}</div>
                        </div>

                        <div class="product__item__text">
                            <ul>
                                <li>${item.Status}</li>
                                <li>${item.Type}</li>
                            </ul>
                            <h5><a href="@Url.Action("Detail", "Anime")/${item.Id}">${item.Title}</a></h5>
                        </div>
                    </div>
                </div>`;
                searchAnime.append(html);

            }
            $('.set-bg').each(function() {
                var bg = $(this).data('setbg');
                $(this).css('background-image', 'url(' + bg + ')');
            });
        }

        function sendRequest(model) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("AdvancedSearch", "Anime")",
                data: model,
                dataType: "json",
                traditional: true,
                success: function(response) {
                    console.log(response);
                    dumpHtml(response.data);
                }
            });
        }

        $(`#btnSearch`).click(function() {
            const searchTitle = $(`#SearchTitle`).val();
            const typeId = $(`#TypeId`).val();
            const categoryIds = $(`#CategoryIds`).val();
            console.log(categoryIds);
            const statusId = $(`#StatusId`).val();
            const countryId = $(`#CountryId`).val();
            const ageRatingId = $(`#AgeRatingId`).val();
            const ratingHigher = $(`#RatingHigher`).val();
            const viewCountHigher = $(`#ViewCountHigher`).val();
            const model = {
                searchTitle,
                typeId,
                categoryIds,
                statusId,
                countryId,
                ageRatingId,
                ratingHigher,
                viewCountHigher,
                PageNumber: 1,
                PageSize: 9
            };
            console.log(model);
            sendRequest(model);
        });
        const listMultiSelect = document.querySelectorAll(`.ms-options-wrap button`);
        for (const item of listMultiSelect) {
            item.classList.add(`form-control`);
            item.classList.add(`border-1`);
            item.classList.add(`p-2`);
        }
    </script>
}
