@model WebAnime.Models.ViewModel.Admin.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Mordenize</title>
    <!-- Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Resources/Library/Admin/Theme/images/logos/favicon.ico" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Resources/Library/Admin/Theme/libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <!-- Core Css -->
    <link rel="stylesheet" href="~/Resources/Library/Admin/Theme/css/style.min.css" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="~/Resources/Library/Admin/Theme/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100">
            <div class="position-relative z-index-5">
                <div class="row">
                    <div class="col-lg-6 col-xl-8 col-xxl-9">
                        <a href="@Url.Action("Index","Home",new{area="Admin"})" class="text-nowrap logo-img d-block px-4 py-9 w-100">
                            <img src="~/Resources/Library/Admin/Theme/images/logos/dark-logo.svg" width="180" alt="">
                        </a>
                        <div class="d-none d-lg-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
                            <img src="~/Resources/Library/Admin/Theme/images/backgrounds/login-security.svg" alt="" class="img-fluid" width="500">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4 col-xxl-3">
                        <div class="card mb-0 shadow-none rounded-0 min-vh-100 h-100">
                            <div class="d-flex align-items-center w-100 h-100">
                                <div class="card-body">
                                    <div class="mb-2">
                                        <h2 class="fw-bolder fs-7 mb-3">Bạn quên mật khẩu?</h2>
                                        <p class="mb-0 p-1 fw-bold ">
                                            Vui lòng nhập địa chỉ email được liên kết với tài khoản.<br/>
                                            Hệ thống sẽ gửi cho bạn một liên kết qua email để đặt lại mật khẩu.<br />
                                            Nếu không được, hãy liên hệ admin tại <a href="https://facebook.com/vuthemanh1707" target="_blank"> đây.</a>
                                        </p>
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(false,htmlAttributes:new {@class="text-danger"},message:"")
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
                                            @Html.EditorFor(x => x.Email, new
                                            { htmlAttributes = new { @class = "form-control", type = "email" } }
                                                )
                                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                            @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">*@
                                        </div>
                                        <button class="btn btn-primary w-100 py-8 mb-3">Quên mật khẩu</button>
                                        <a href="@Url.Action("Login","Auth",new{area="Admin"})" class="btn btn-light-primary text-primary w-100 py-8">Quay về đăng nhập</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Import Js Files -->
<script src="~/Resources/Library/Admin/Jquery/jquery-3.7.1.js"></script>
<script src="~/Resources/Library/Admin/Bootstrap/js/bootstrap.bundle.js"></script>
    <!-- core files -->
    <!--<script src="~/Resources/Library/Admin/Theme/js/app.min.js"></script>
    <script src="~/Resources/Library/Admin/Theme/js/app.minisidebar.init.js"></script>
    <script src="~/Resources/Library/Admin/Theme/js/app-style-switcher.js"></script>-->
    @*<script src="~/Resources/Library/Admin/Theme/js/sidebarmenu.js"></script>*@

    <script src="~/Resources/Library/Admin/Theme/js/custom.js"></script>
    <!-- current page js files -->
    <script src="~/Resources/Library/Admin/Theme/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
</body>
</html>