@model WebAnime.Models.ViewModel.Admin.ResetPasswordViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Resources/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Resources/Login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Resources/Login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Resources/Login/css/style.css">

    <title>Login #7</title>
</head>
<body>


    <div>
        <input type="text" style="background-color: inherit; border:none;">
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Resources/Login/images/official-login.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-5">
                                <h3 class="fw-bolder fs-7 mb-3">Đổi mật khẩu</h3>
                                <p>Cảm ơn bạn đã xác thực, vui lòng đổi mật khẩu mới cho tài khoản</p>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                @Html.HiddenFor(x => x.UserId)
                                @Html.HiddenFor(x => x.ResetCode)
                                <div class="mb-3">
                                    @Html.LabelFor(x => x.Password, new { @class = "form-label" })
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label" })
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <button class="btn btn-primary  w-100 py-8 mb-4 rounded-2">Đổi mật khẩu</button>
                                <a href="@Url.Action("Login","Auth",new{area="Admin"})" class="btn btn-light-primary text-primary w-100 py-8">Quay về đăng nhập</a>
                            }
                        </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/Resources/Login/js/jquery-3.3.1.min.js"></script>
    <script src="~/Resources/Login/js/popper.min.js"></script>
    <script src="~/Resources/Login/js/bootstrap.min.js"></script>
    <script src="~/Resources/Login/js/main.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
</body>
</html>

