@using WebAnime.Models.Entities
@model WebAnime.Models.ViewModel.Admin.EpisodeViewModel

@{
    ViewBag.Title = "Thêm tập mới";
    var anime = ViewBag.Anime as Animes ?? new Animes();
    //var servers = ViewBag.Servers as IEnumerable<Servers>;
    string serverName = ViewBag.ServerName as string;
}

<h3>Thêm tập mới cho <span class="text-danger">@anime.Title</span></h3>
<h4>Server <span class="text-info">@serverName</span></h4>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x => x.ServerId)
    @Html.HiddenFor(x => x.AnimeId)
    <div class="row mb-4">
        @Html.LabelFor(x => x.Title, new { @class = "col-1 col-form-label fw-bold" })
        <div class="col-8">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-4">
        @Html.LabelFor(x => x.SortOrder, new { @class = "col-1 col-form-label fw-bold" })
        <div class="col-8">
            @Html.TextBoxFor(x => x.SortOrder, new { @class = "form-control", type = "number", min = "1", max = "9999", placeholder = "1 tới 9999" })
            @Html.ValidationMessageFor(x => x.SortOrder, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-4">
        @Html.LabelFor(x => x.Url, new { @class = "col-1 col-form-label fw-bold" })
        <div class="col-8">
            @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Url, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        </div>
    </div>
}
@section footerJs
{
    @Html.Partial("_ValidationScriptsPartial")
}
