@model IEnumerable<ViewModels.Admin.BlogViewModel>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Tạo mới", "Create", "Blog", new { @area = "Admin" }, new { @class = "btn btn-primary" })
@if (!Model.Any())
{
    <h2>Chưa có gì</h2>
}
else
{
    using (Html.BeginForm())
    {
<div class="row nb-3 my-3">
    <label class="col-form-label col-auto">Tìm kiếm Tiêu Đề</label>
    <div class="col-3">
        <input type="text" name="searchTitle" id="searchTitle" value="" class="form-control">
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-info" id="btnsearch">Tìm Kiếm</button>
    </div>
    <label class="col-form-label col-auto">Trang</label> 
    <button type="button" class="btn btn-info col-1" id="btnPrevious">Prev</button>
    <div class=" col-1 ">
        <input type="number" name="pageNumber" id="pageNumber" value="0" class="form-control text-center " />
    </div> 
    <button type="button" class="btn btn-info col-1 " id="btnNext">Next</button>
</div>
       

    }

    <h2>Danh sách bài viết</h2>
    <table class="table border text-nowrap mb-0 align-middle">
        <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(x => x.Title)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Content)
            </th>
            <th>
                @*@Html.DisplayNameFor(x => x.ImageUrl)*@
                Ảnh nền
            </th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    
}
<div class="modal fade"
     id="model-content-html"
     tabindex="-1"
     aria-labelledby="bs-example-modal-lg"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenLabel">
                    Nội dung bài viết
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body modalHtml">

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-danger text-danger "
                        data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade"
         id="modal-image"
         tabindex="-1"
         aria-labelledby="modal-image"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="myLargeModalLabel">
                        Ảnh nền bài viết
                    </h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <img class="modalImage w-100" />
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light-danger text-danger text-start"
                            data-bs-dismiss="modal">
                        Đóng
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>


@section footerJs
{
    <script>

        const pageSize = 2;

        var totalPage = 0;

        fetchData('', 1, pageSize);

        
        function fetchData  (searchTitle, pageNumber, pageSize, isChangeNumber = true,firtLoad)  {
            const url = "@Url.Action("GetPaging","Blog")";
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    searchTitle: searchTitle,
                    pageNumber: pageNumber,
                    pageSize: pageSize
                },
                dataType: "json",
                success: function (response) {  
                    if (response.data.length > 0) {
                        toastr.success('Lấy dữ liệu thành công', "Thông báo");               

                    } else {
                        toastr.warning('Không tìm thấy dữ liệu', 'Cảnh báo');
                    }
                    dumpData(response.data)
                    totalPage = response.TotalPages;
                    console.log(totalPage)
                    if (isChangeNumber)      
                    chagePageNumber(parseInt(totalPage))
                }
            });
        }

        

        const chagePageNumber = (totalPages) => {         
            const minPage = totalPages <= 0 ? totalPages : 1;   
            const numberic = $(`#pageNumber`)
            numberic.attr('min', minPage)
            numberic.attr('max', totalPages)
            numberic.val(minPage);
        }
        const dumpData = (data) => {
            const tableBody = $(`#tableBody`);
            tableBody.html('');                
            for (let i = 0; i < data.length; i++)
            {
               
                const item = data[i];     
                const html = `
                    <tr>
                        <td>
                            <h5> ${item.Title}</h5>
                            <p> ${item.Id}</p>
                        </td>
                        <td>
                              <button type="button"
                                  class="btn btn-primary btnViewContent"
                                  data-content-html='${item.Content}'
                                  data-bs-toggle="modal"
                                  data-bs-target="#model-content-html">
                                  Xem ở đây
                              </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary btnViewImage"
                                    data-bs-toggle="modal"
                                    data-image-url='${item.ImageUrl}'
                                    data-bs-target="#modal-image">
                                Xem ở đây
                            </button>
                        </td>

                        <td>
                            <div class="btn btn-group d-flex justify-content-center">
                                <a href="@Url.Action("Update", "Blog", new { area = "Admin" })/${item.Id}" class = "btn btn-primary text-decoration-none">Sửa</a>
                                 <a href="@Url.Action("Delete", "Blog", new { area = "Admin" })/${item.Id}" class = "btn btn-danger text-decoration-none">Xoá</a>
                              
                            </div>
                        </td>
                    </tr>`;

                tableBody.append(html)
            }


        }
        $(document).on('click', '.btnViewContent', function () {
            const html = $(this).data('contentHtml');
            $(`.modalHtml`).html(html);
        });

        $(document).on('click', '.btnViewImage', function () {
            const url = $(this).data('imageUrl');
            $(`.modalImage`).attr('src', url);
        });
        //$(`.btnViewContent`).click(function () {

        //    const html = $(this).data('contentHtml');
        //    $(`.modalHtml`).html(html);
        //});
        //$(`.btnViewImage`).click(function () {

        //    const url = $(this).data('imageUrl');
        //    $(`.modalImage`).attr('src', url);
        //});
        $(`#btnsearch`).click(() => {
            const searchTitle = $(`#searchTitle`).val();         
            const pageNumber = 1;
            
            fetchData(searchTitle,pageNumber,pageSize)
        })
        $(`#pageNumber`).change(function () {
            const current = $(this)
            if (current.val() > totalPage) {
                current.val(totalPage)
            }
            else if (current.val() < 0) {
                current.val(1)
            }
            const pageNumber = current.val();
            console.log(pageNumber)
            const searchTitle = $(`#searchTitle`).val();
            fetchData(searchTitle, pageNumber, pageSize, false)            
        })
        $(`#btnPrevious`).click(function () {
            var currentPage = $(`#pageNumber`).val();
            if (currentPage > 1) {
                currentPage--;
                $(`#pageNumber`).val(currentPage).change()    
            }
                  
        })
        $(`#btnNext`).click(function () {
            var currentPage = $(`#pageNumber`).val();
            if (currentPage < totalPage) {
                currentPage++;
                $(`#pageNumber`).val(currentPage).change()
            }
        })
    </script>
}
